
.overlay {
    --border-style: 6px solid yellow;
    --border-space: 50px;
    position: absolute;

    border: 6px solid green;
    box-shadow: 5px 5px 8px 5px black, 3px 3px 6px 8px red ;
    width: 375px;
    height: 620px;

}
@media screen and (max-width: 580px){
    .overlay {


    }
}
#canvas-output{

    width: 375px;
    height: 620px;

}


.overlay-element {
    padding: 10px;
    width: 50px;
    height: 30px;
    position: absolute;
}



.overlay .top-left {
    border-left: var(--border-style);
    border-top: var(--border-style);
    top: var(--border-space);
    left: var(--border-space);

}

.overlay .top-right {
    border-right: var(--border-style);
    border-top: var(--border-style);
    top: var(--border-space);
    right: var(--border-space);
}

.overlay .bottom-left {
    border-left: var(--border-style);
    border-bottom: var(--border-style);
    bottom: var(--border-space);
    left: var(--border-space);
}

.overlay .bottom-right {
    border-right: var(--border-style);
    border-bottom: var(--border-style);
    bottom: var(--border-space);
    right: var(--border-space);
}
#snap{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor:pointer;
    font-family:'Courier New','monospace';
    text-align: center;
    background:red;
    margin-left: 43%;
    margin-top: 500px;
    font-size: 0.5em;


}
#flip-button{
    position: absolute;
    margin-left: 67%;
    margin-top: -15%;

}
#content, html, body {
    height: 100%;
    font-family: Sans-Serif;

}

form
{
    margin: 2vw;
}

#left {
    float: left;
    width: 80%;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

#right {
    float: left;
    width: 20%;
    background: gray;
    color: white;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    font-size: 2vw;  /* using viewport width ensure the size do not change with zoom*/
    text-align: center;
}

#rightHighlighter {
    position: absolute;
    right: 5vw; /*so it is on the right side*/
    top: -10vw; /* initially out of view */
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background: rgba(255,255,0,0.5);
    z-index: 10;
}

.highlight
{
    background: yellow;
}

/* Defining the spacing between words*/
canvas {
    border-style:solid;
    border-color:transparent;
    border-width:5px;
}

/* the marker for beginning of page */
.pageMarker {
    font-size: 2em;
    color: white;
    background: gray;
    text-align: center;
}

/* the marker separating regions on page */
.regionMarker {
    background: gray;
    color: yellow;
    text-align: center;
}

/* the progress bar */
progress {
    width: 90vw;
    height: 5vw;
}

/* set page preview according to viewport to prevent zooming. A4 default page ratio*/
.pagePreview
{
    width: 16vw;
    aspect-ratio: 1/1.4142;
}
.landscape
{
    aspect-ratio: 1.4142/1;
}
.pagePreviewCanvas
{
    width: 90%;
    height: 90%;
    border-width:1vw 1vw;
}
