/* -------------------- Camera Overlay -------- */
.overlay {
    --border-style: 4px solid yellow;
    --border-space: 10%;
    position: relative;
    border: 6px solid green;
    box-shadow: 3px 4px 4px 3px black, 2px 3px 6px 6px red;
    height:100%;
    overflow: hidden;
    width: 100%;
}

.overlay-element {
    padding: 10px;
    width: 8%;
    height: 8%;
    position: absolute;
}


.overlay .top-left {
    border-left: var(--border-style);
    border-top: var(--border-style);
    top: var(--border-space);
    left: var(--border-space);

}

.overlay .top-right {
    border-right: var(--border-style);
    border-top: var(--border-style);
    top: var(--border-space);
    right: var(--border-space);
}

.overlay .bottom-left {
    border-left: var(--border-style);
    border-bottom: var(--border-style);
    bottom: var(--border-space);
    left: var(--border-space);
}

.overlay .bottom-right {
    border-right: var(--border-style);
    border-bottom: var(--border-style);
    bottom: var(--border-space);
    right: var(--border-space);
}

.overlay .bottom-center {
    bottom: 20px;
    left: 45%;
}

#snap {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    background: red;
    font-family: center, serif;
    font-size: 0.8em;
}

/* ------- Scroll sidebar Styling ------ */

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left top, right top, from(midnightblue), to(lightseagreen));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: -webkit-gradient(linear, left top, right top, from(midnightblue), to(greenyellow));
}

/* ------------- Result Canvas Styling ------- */

#result:has(canvas[name="clipWord"]) {
    padding: 5px;
    width: 100%;
    height: 720px;
    border: 6px solid green;
    box-shadow: 5px 5px 8px 5px black, 3px 3px 6px 8px red;
    background: white;
    overflow-x: auto;
    overflow-y: auto;
}

#result > canvas[name="clipWord"] {
    zoom: var(--scale-zoom);
    margin: 5px;
}

#result > canvas[name="clipWord"]:hover {
    transform: scale(1.5);
    border: 4px solid greenyellow;

}

{
    --scale-zoom: 1
;
}
/* ----------- Zoom Div Styling ------- */
#zoomButtons:has(a) {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5%;
    padding: 1%;
    height: max-content;
    border: 3px solid aquamarine;
    box-shadow: 5px 5px 8px 5px black, 2px 2px 6px 4px red;
    background: darkslategray;
}

#zoomButtons > #zoom-inn-icon {
    font-size: 25px;
    border: 3px solid rgb(243, 156, 18);
    border-radius: 28%;
    padding: 4px;
    position: relative;
    margin-right: 5%;
    zoom: var(--scale-zoom);

}

#zoomButtons > #zoom-out-icon {
    font-size: 25px;
    border: 3px solid rgb(243, 156, 18);
    border-radius: 28%;
    padding: 4px;
    position: center;
    margin-right: 5%;
    zoom: var(--scale-zoom);

}

#zoomButtons > #zoom-reset-icon {
    font-size: 25px;
    border: 3px solid rgb(243, 156, 18);
    border-radius: 28%;
    position: relative;
    padding: 4px;
    zoom: var(--scale-zoom);

}

#zoom-out-icon:hover, #zoom-reset-icon:hover, #zoom-inn-icon:hover {
    background: #eef;
}

/* ------------------ Lab Canvas Styling --------- */
#canvasOutput, #LabcanvasOutput {
    margin-left: 0;
    width: 95%;
    border: 6px solid green;
    box-shadow: 5px 5px 8px 5px black, 3px 3px 6px 8px red;
    background: white;
}


#video-input {
    width: 100%;
    zoom: 1.5;
    height: 100%;
}

/* ---------------- Main Container Styling -------- */
.container-md {
    background: linear-gradient(160deg, burlywood, cornflowerblue, burlywood, olivedrab);
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    width: 95%;
    text-align: center;
    padding: 1%;
}

/* ------------ Main headers Styling --------- */

h1 {

    font-family: "Lucida Handwriting", serif;
    text-align: center;
    margin-top: 3%;
}

h5, h2 {
    font-family: "Lucida Handwriting", serif;
    text-align: center;
}

/*
#lastopp-im{
    width: 300px;
    margin: 20px auto 30px;
    text-align: center;
    position: relative;
    padding: 15px;
    font-size: 22px;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
}
#lastopp-im:hover{
    color: dodgerblue;

}
#fileInput{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

 */
body {
    background-color: white;
}
/* The device with borders */
.smartphone {
    position: relative;
    width:99%;
    height:100%;
    margin: auto;
    border: 12px black solid;
    border-top-width: 50px;
    border-bottom-width: 50px;
    border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightskyblue;
    border-radius: 10px;
}
/* The horizontal line on the top of the device */
.topnav:before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top:10px;
    left: 10px;
    transform: translate(10%, 10%);
    background: black;
    border-radius: 50%;
    border: white solid 2px;
    box-shadow: 1px 1px 2px 2px lightskyblue, 1px 1px 2px 2px black;
}
/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: lightskyblue;
    border-radius: 50%;
    border: white solid 2px;
    box-shadow: 1px 1px 2px 2px brown, 1px 1px 2px 2px black;
}

/* ---------------- Styling Canvas til images ---------- */

#pros-image {
    padding: 5px;
    width: 95%;
    border: 6px solid green;
    box-shadow: 5px 5px 8px 5px black, 3px 3px 6px 8px red;
    background: white;
}

#imageSrc {
    padding: 5px;
    border: 5px solid lightskyblue;
    box-shadow: 3px 3px 8px 3px black;
    background: transparent;
}

#cap-image {
    width: 100%;
    height: 100%;
    border: 6px solid green;
    box-shadow: 5px 5px 8px 5px black, 3px 3px 6px 8px red;
    /* background: white;
     opacity: 0.5;

     */
}

/* ----------------------- Menu Style -------------- */
.mobile-container {
}

.topnav {
    position: relative;
}

.topnav #myLinks {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: 10px;
    top: 10px;
    text-align: center;
    width: max-content;
}

.topnav a {
    color: black;
    padding: 4px 4px 4px 4px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav a.icon {
    background: transparent;
    position: absolute;
    border-radius: 10%;
    font-size: 30px;
    right: 0;
}

.topnav a:hover {
    background-color: #fdcb77;
}

.topnav a.icon:hover {
    color: lightskyblue;
    background-color: transparent;
}

.active {
}

.dropdown-menu {
    background-color: bisque;
}